openapi: "3.0.0"
info:
  title: Infinite Flight Live API
  version: "2.0.0"
  description: |
    Upstream Infinite Flight Live API contract used by Politburo's infrastructure
    Live API wrapper. This is not a Politburo public API surface.

    The API is intended for simulated flight only and must not be used in
    real-world flight situations. API keys are modeled as bearer tokens only;
    the upstream query-string `apikey` authentication option is intentionally
    not represented to avoid key leakage in URLs and logs.

servers:
  - url: https://api.infiniteflight.com/public/v2

security:
  - bearerAuth: []

tags:
  - name: sessions
  - name: flights
  - name: aircraft
  - name: users
  - name: atc
  - name: world

paths:
  /sessions:
    get:
      operationId: getSessions
      tags: [sessions]
      summary: Get active sessions
      responses:
        "200":
          description: Active sessions retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /sessions/{sessionId}/flights:
    get:
      operationId: getSessionFlights
      tags: [flights]
      summary: Get flights in a session
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Session flights retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionFlightsResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /sessions/{sessionId}/flights/{flightId}/route:
    get:
      operationId: getFlightRoute
      tags: [flights]
      summary: Get flown route for a flight
      parameters:
        - $ref: "#/components/parameters/SessionId"
        - $ref: "#/components/parameters/FlightId"
      responses:
        "200":
          description: Flight route retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlightRouteResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /sessions/{sessionId}/flights/{flightId}/flightplan:
    get:
      operationId: getFlightPlan
      tags: [flights]
      summary: Get detailed flight plan for a flight
      parameters:
        - $ref: "#/components/parameters/SessionId"
        - $ref: "#/components/parameters/FlightId"
      responses:
        "200":
          description: Flight plan retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlightPlanResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /aircraft/liveries:
    get:
      operationId: getAircraftLiveries
      tags: [aircraft]
      summary: Get all aircraft liveries
      responses:
        "200":
          description: Aircraft liveries retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AircraftLiveriesResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /users:
    post:
      operationId: getUserStats
      tags: [users]
      summary: Get user statistics for up to 25 users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserStatsRequest"
      responses:
        "200":
          description: User stats retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserStatsResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /users/{userId}/flights:
    get:
      operationId: getUserFlights
      tags: [users]
      summary: Get user flight history
      parameters:
        - $ref: "#/components/parameters/UserId"
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page index to retrieve. Upstream default is 1.
      responses:
        "200":
          description: User flights retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserFlightsResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /users/{userId}:
    get:
      operationId: getUserGrade
      tags: [users]
      summary: Get full user grade table and detailed statistics
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          description: User grade retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserGradeResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /sessions/{sessionId}/atc:
    get:
      operationId: getATC
      tags: [atc]
      summary: Get active ATC frequencies for a session
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Active ATC frequencies retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ATCResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /sessions/{sessionId}/airport/{airportIcao}/atis:
    get:
      operationId: getATIS
      tags: [atc]
      summary: Get airport ATIS for a session
      parameters:
        - $ref: "#/components/parameters/SessionId"
        - name: airportIcao
          in: path
          required: true
          schema:
            type: string
          description: ICAO identifier of the airport to get ATIS for.
      responses:
        "200":
          description: Airport ATIS retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ATISResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

  /sessions/{sessionId}/world:
    get:
      operationId: getWorldStatus
      tags: [world]
      summary: Get world status for a session
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: World status retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorldStatusResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        default: { $ref: "#/components/responses/UpstreamError" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "Infinite Flight Live API key sent as `Authorization: Bearer <apikey>`."

  parameters:
    SessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: ID of the Live API session/server.
    FlightId:
      name: flightId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: ID of the active flight.
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: ID of the Infinite Flight user.

  responses:
    Unauthorized:
      description: Missing or invalid bearer API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LiveAPIErrorResponse"
    Forbidden:
      description: API key is not authorized for the requested resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LiveAPIErrorResponse"
    NotFound:
      description: Requested upstream resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LiveAPIErrorResponse"
    RateLimited:
      description: Upstream rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LiveAPIErrorResponse"
    UpstreamError:
      description: Upstream Live API error response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LiveAPIErrorResponse"

  schemas:
    LiveAPIErrorCode:
      type: integer
      enum: [0, 1, 2, 3, 4, 5, 6, 7]
      x-enum-varnames:
        - Ok
        - UserNotFound
        - MissingRequestParameters
        - EndpointError
        - NotAuthorized
        - ServerNotFound
        - FlightNotFound
        - NoAtisAvailable
      description: |
        Upstream Live API error code values: Ok=0, UserNotFound=1,
        MissingRequestParameters=2, EndpointError=3, NotAuthorized=4,
        ServerNotFound=5, FlightNotFound=6, NoAtisAvailable=7.

    LiveAPIErrorResponse:
      type: object
      required: [errorCode]
      properties:
        errorCode:
          $ref: "#/components/schemas/LiveAPIErrorCode"
        result:
          nullable: true
          description: Upstream result body when present; commonly null or omitted for errors.

    SessionsResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: array
          items: { $ref: "#/components/schemas/SessionInfo" }

    SessionInfo:
      type: object
      required: [id, name, maxUsers, userCount, type, worldType, minimumGradeLevel, minimumAppVersion]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        maxUsers: { type: integer }
        userCount: { type: integer }
        type: { type: integer, description: "Unrestricted=0, Restricted=1." }
        worldType: { $ref: "#/components/schemas/WorldType" }
        minimumGradeLevel: { type: integer }
        minimumAppVersion: { type: string }
        maximumAppVersion:
          type: string
          nullable: true

    SessionFlightsResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: array
          items: { $ref: "#/components/schemas/FlightEntry" }

    FlightEntry:
      type: object
      required: [flightId, userId, aircraftId, liveryId, callsign, latitude, longitude, altitude, speed, verticalSpeed, track, lastReport, pilotState, isConnected]
      properties:
        flightId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        aircraftId: { type: string, format: uuid }
        liveryId: { type: string, format: uuid }
        username:
          type: string
          nullable: true
        virtualOrganization:
          type: string
          nullable: true
        callsign: { type: string }
        latitude: { type: number, format: double }
        longitude: { type: number, format: double }
        altitude: { type: number, format: double, description: Altitude in feet. }
        speed: { type: number, format: double, description: Groundspeed in knots. }
        verticalSpeed: { type: number, format: double, description: Vertical speed in ft/min. }
        track: { type: number, format: double, description: Track in degrees. }
        heading: { type: number, format: float, description: Heading in degrees. }
        lastReport:
          type: string
          description: "Custom upstream date/time string, e.g. `YYYY-MM-DD HH:mm:ssZ`."
        pilotState: { type: integer, description: "Active=0, AwayInFlight=1, AwayParked=2, InBackground=3." }
        isConnected: { type: boolean }

    FlightRouteResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: array
          items: { $ref: "#/components/schemas/PositionReport" }

    PositionReport:
      type: object
      required: [latitude, longitude, altitude, track, groundSpeed, date]
      properties:
        latitude: { type: number, format: double }
        longitude: { type: number, format: double }
        altitude: { type: number, format: double }
        track: { type: number, format: double }
        groundSpeed: { type: number, format: double }
        date:
          type: string
          description: "Upstream position report date/time string. Docs examples include RFC3339-like values and describe `YYYY-MM-DD HH:mm:ssZ`."

    FlightPlanResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result: { $ref: "#/components/schemas/FlightPlanInfo" }

    FlightPlanInfo:
      type: object
      required: [flightPlanId, flightId, waypoints, lastUpdate, flightPlanItems]
      properties:
        flightPlanId: { type: string, format: uuid }
        flightId: { type: string, format: uuid }
        waypoints:
          type: array
          deprecated: true
          items: { type: string }
        lastUpdate:
          type: string
          description: "Custom upstream date/time string, e.g. `YYYY-MM-DD HH:mm:ssZ`."
        flightPlanItems:
          type: array
          items: { $ref: "#/components/schemas/FlightPlanItem" }
        flightPlanType:
          type: integer
          description: "VFR=0, IFR=1. Present in docs but absent from current Politburo DTOs."

    FlightPlanItem:
      type: object
      required: [name, type, altitude, location]
      properties:
        name: { type: string }
        type: { type: integer, description: "Sid=0, STAR=1, Approach=2, Track=3, Unknown=5." }
        children:
          type: array
          nullable: true
          items: { $ref: "#/components/schemas/FlightPlanItem" }
        identifier:
          type: string
          nullable: true
        altitude: { type: number, format: double }
        location: { $ref: "#/components/schemas/Coordinate" }

    Coordinate:
      type: object
      required: [latitude, longitude, altitude]
      properties:
        latitude: { type: number, format: double }
        longitude: { type: number, format: double }
        altitude: { type: number, format: double }

    AircraftLiveriesResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: array
          items: { $ref: "#/components/schemas/LiveryData" }

    LiveryData:
      type: object
      required: [id, aircraftID, aircraftName, liveryName]
      properties:
        id: { type: string, format: uuid }
        aircraftID: { type: string, format: uuid }
        aircraftName: { type: string }
        liveryName: { type: string }

    UserStatsRequest:
      type: object
      description: At least one of userIds, discourseNames, or userHashes is required by the upstream API.
      properties:
        userIds:
          type: array
          items: { type: string, format: uuid }
        discourseNames:
          type: array
          items: { type: string }
        userHashes:
          type: array
          items: { type: string }

    UserStatsResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: array
          items: { $ref: "#/components/schemas/UserStats" }

    UserStats:
      type: object
      required: [userId, groups, roles, errorCode, onlineFlights, violations, violationCountByLevel, xp, landingCount, flightTime, atcOperations, grade, hash]
      properties:
        userId: { type: string, format: uuid }
        virtualOrganization: { type: string, nullable: true }
        discourseUsername: { type: string, nullable: true }
        groups:
          type: array
          deprecated: true
          items: { type: string, format: uuid }
        roles:
          type: array
          items: { type: integer }
        errorCode: { type: integer }
        onlineFlights: { type: integer }
        violations: { type: integer }
        violationCountByLevel: { $ref: "#/components/schemas/ViolationCountByLevel" }
        xp: { type: number, format: double }
        landingCount: { type: integer }
        flightTime: { type: number, format: double, description: Total flight time in minutes. }
        atcOperations: { type: integer }
        atcRank: { type: integer, nullable: true }
        grade: { type: integer }
        hash: { type: string }

    ViolationCountByLevel:
      type: object
      required: [level1, level2, level3]
      properties:
        level1: { type: integer }
        level2: { type: integer }
        level3: { type: integer }

    UserFlightsResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result: { $ref: "#/components/schemas/UserFlightsPage" }

    UserFlightsPage:
      type: object
      required: [pageIndex, totalPages, totalCount, hasPreviousPage, hasNextPage, data]
      properties:
        pageIndex: { type: integer }
        totalPages: { type: integer }
        totalCount: { type: integer }
        hasPreviousPage: { type: boolean }
        hasNextPage: { type: boolean }
        data:
          type: array
          items: { $ref: "#/components/schemas/UserFlight" }

    UserFlight:
      type: object
      required: [id, created, userId, aircraftId, liveryId, callsign, server, dayTime, nightTime, totalTime, landingCount, xp, worldType, violations]
      properties:
        id: { type: string, format: uuid }
        created:
          type: string
          description: Upstream date/time string for flight creation.
        userId: { type: string, format: uuid }
        aircraftId: { type: string, format: uuid }
        liveryId: { type: string, format: uuid }
        callsign: { type: string }
        server: { type: string }
        dayTime: { type: number, format: float }
        nightTime: { type: number, format: float }
        totalTime: { type: number, format: float }
        landingCount: { type: integer }
        originAirport: { type: string, nullable: true }
        destinationAirport: { type: string, nullable: true }
        xp: { type: integer }
        worldType: { $ref: "#/components/schemas/WorldType" }
        violations:
          type: array
          items: { $ref: "#/components/schemas/Violation" }

    Violation:
      type: object
      properties:
        issuedBy: { $ref: "#/components/schemas/ViolationIssuer" }
        level: { type: integer }
        type: { type: string }
        description: { type: string }
        created:
          type: string
          description: Upstream date/time string for violation creation.

    ViolationIssuer:
      type: object
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        callsign: { type: string }
        discourseUser: { $ref: "#/components/schemas/DiscourseUser" }

    DiscourseUser:
      type: object
      properties:
        userId: { type: integer }
        username: { type: string }
        virtualOrganization: { type: string, nullable: true }
        avatarTemplate: { type: string }

    UserGradeResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result: { $ref: "#/components/schemas/GradeInfo" }

    GradeInfo:
      type: object
      required: [userId, groups, roles, errorCode, gradeDetails, violationCountByLevel, totalXP, atcOperations, total12MonthsViolations, lastLevel1ViolationDate, lastLevel2ViolationDate, lastLevel3ViolationDate, lastReportViolationDate]
      properties:
        userId: { type: string, format: uuid }
        virtualOrganization: { type: string, nullable: true }
        discourseUsername: { type: string, nullable: true }
        groups:
          type: array
          deprecated: true
          items: { type: string, format: uuid }
        roles:
          type: array
          items: { type: integer }
        errorCode: { type: integer }
        gradeDetails: { $ref: "#/components/schemas/GradeConfiguration" }
        violationCountByLevel: { $ref: "#/components/schemas/ViolationCountByLevel" }
        totalXP: { type: number, format: double }
        atcOperations: { type: integer }
        atcRank: { type: integer, nullable: true }
        total12MonthsViolations: { type: integer }
        lastLevel1ViolationDate: { type: string, description: Upstream date/time string. }
        lastLevel2ViolationDate: { type: string, description: Upstream date/time string. }
        lastLevel3ViolationDate: { type: string, description: Upstream date/time string. }
        lastReportViolationDate: { type: string, description: Upstream date/time string. }

    GradeConfiguration:
      type: object
      required: [grades, gradeIndex, ruleDefinitions]
      properties:
        grades:
          type: array
          items: { $ref: "#/components/schemas/Grade" }
        gradeIndex: { type: integer }
        ruleDefinitions:
          type: array
          items: { $ref: "#/components/schemas/GradeRuleDefinition" }

    Grade:
      type: object
      required: [rules, index, name, state]
      properties:
        rules:
          type: array
          items: { $ref: "#/components/schemas/GradeRule" }
        index: { type: integer }
        name: { type: string }
        state: { type: integer, description: "Fail=0, OK=1, Warning=2." }

    GradeRule:
      type: object
      required: [ruleIndex, referenceValue, userValue, state, userValueString, referenceValueString, definition]
      properties:
        ruleIndex: { type: integer }
        referenceValue: { type: number, format: double }
        userValue: { type: number, format: double }
        state: { type: integer, description: "Fail=0, OK=1, Warning=2." }
        userValueString: { type: string }
        referenceValueString: { type: string }
        definition: { $ref: "#/components/schemas/GradeRuleDefinition" }

    GradeRuleDefinition:
      type: object
      required: [name, description, property, operator, period, order, group]
      properties:
        name: { type: string }
        description: { type: string }
        property: { type: string }
        operator: { type: integer, description: "GreaterThan=0, LesserThan=1, GreaterThanOrEqual=2, LesserThanOrEqual=3, Equal=4, DifferentThan=5." }
        period: { type: number, format: double }
        order: { type: integer }
        group: { type: integer }

    ATCResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: array
          items: { $ref: "#/components/schemas/ActiveATCFacility" }

    ActiveATCFacility:
      type: object
      required: [frequencyId, userId, type, latitude, longitude, startTime]
      properties:
        frequencyId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        username: { type: string, nullable: true }
        virtualOrganization: { type: string, nullable: true }
        airportName: { type: string, nullable: true, description: ICAO identifier for the airport; null for center. }
        type: { type: integer, description: "Ground=0, Tower=1, Unicom=2, Clearance=3, Approach=4, Departure=5, Center=6, ATIS=7, Aircraft=8, Recorded=9, Unknown=10, Unused=11." }
        latitude: { type: number, format: float }
        longitude: { type: number, format: float }
        startTime:
          type: string
          description: "Custom upstream date/time string, e.g. `YYYY-MM-DD HH:mm:ssZ`."

    ATISResponse:
      type: object
      required: [errorCode]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: string
          nullable: true
          description: ATIS text, or null when no ATIS is available.

    WorldStatusResponse:
      type: object
      required: [errorCode, result]
      properties:
        errorCode: { $ref: "#/components/schemas/LiveAPIErrorCode" }
        result:
          type: array
          items: { $ref: "#/components/schemas/AirportStatus" }

    AirportStatus:
      type: object
      required: [airportIcao, airportName, inboundFlightsCount, inboundFlights, outboundFlightsCount, outboundFlights, atcFacilities]
      properties:
        airportIcao: { type: string }
        airportName: { type: string }
        inboundFlightsCount: { type: integer }
        inboundFlights:
          type: array
          items: { type: string, format: uuid }
        outboundFlightsCount: { type: integer }
        outboundFlights:
          type: array
          items: { type: string, format: uuid }
        atcFacilities:
          type: array
          items: { $ref: "#/components/schemas/ActiveATCFacility" }

    WorldType:
      type: integer
      description: "Solo=0, Casual=1, Training=2, Expert=3, Private=4."
